@model ItGeek.Web.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Регистрация";
}
<div class="wrapper-login">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h2>Регистрация</h2>
                <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                    <div class="validation" asp-validation-summary="ModelOnly" />
                    <div>
                        <div>
                            <label class="label" asp-for="Email"></label><br />
                            <input class="input" type="text" asp-for="Email" />
                            <span asp-validation-for="Email" />
                        </div>
                        <div>
                            <label class="label" asp-for="Password"></label><br />
                            <input class="input" asp-for="Password" />
                            <span asp-validation-for="Password" />
                        </div>
                        <div>
                            <label class="label" asp-for="ConfirmPassword"></label><br />
                            <input class="input" asp-for="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" />
                        </div>

                        <div class="form-group">
                            <button class="button" type="submit">Регистрация</button>
                        </div>
                        <br />
                        Есть аккаунт?
                        <a class="btn btn-success" asp-action="Login" asp-controller="Account">Войдите</a>
                    </div>
                </form>

            </div>
            <div class="col-4"></div>
        </div>

    </div>
</div>

<style>
    .wrapper-login {
        min-height: 30vh;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .input {
        display: block;
        width: 100%;
        padding: 10px 20px;
        border-radius: 3px;
        background: #fff;
    }

    .label {
        font-size: .9em;
        color: #747474;
    }

    .button {
        margin-top: 25px;
        width: 100%;
    }

</style>