@model ItGeek.DAL.Entities.Category
@{
    ViewData["Title"] = "Редактировать";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-10">
        <h1 class="h3 mb-4 text-gray-800">@ViewData["Title"]</h1>
    </div>
    <div class="col-2 text-right">
        <a asp-action="Index" class="btn btn-outline-danger">Отмена</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Update" enctype="multipart/form-data">
            @Html.Partial("_Form", Model)
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

