@model List<ItGeek.DAL.Entities.MenuItem>;

@{
}

<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-2">
				<a asp-controller="Home" asp-action="Index" class="logo logo-litera">ITGEEK</a>
			</div>
			<div class="col">
				<div class="mobile-menu-button">
					<i class="fa fa-bars"></i> Меню
				</div>

				<div class="header__menu">
					<nav class="main-menu top-menu">
						<ul>
							@foreach(ItGeek.DAL.Entities.MenuItem menu in Model){
								<li>
									<a href="@menu.Slug">@menu.Name</a>
								</li>
							}
						</ul>
					</nav>
				</div>
			</div>
			<div class="col-1">
				<div class="search-wrap">
					<div class="search" title="Поиск по сайту...">
						<div class="fa fa-search"></div>
					</div>
					<div class="search-field">
						<form action="/search.html" id="cse-search-box">
							<input type="hidden" name="cx" value="partner-pub-xxx:xxx" />
							<input type="hidden" name="cof" value="FORID:10" />
							<input type="hidden" name="ie" value="UTF-8" />
							<input type="text" name="q" placeholder="Поиск по сайту..." />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>